:root {
  --color-text-primary: #f4f4f5;
  --bg-primary: #09090b;
  --white: #ffffff;
  --zinc-950: #09090b;
  --zinc-900:#18181b;
  --zinc-800:#27272a;
  --zinc-700:#3f3f46;
  --zinc-600:#52525b;
  --zinc-500:#71717a;
  --zinc-400:#a1a1aa;
  --zinc-300:#d4d4d8;
  --zinc-200:#e4e4e7;

  --brand-600: #16a34a;
  --brand-500: #22c55e;
  --brand-400: #4ade80;
  --brand-300: #86efac;

  --accent-500: #f97316;
}
